doctype html
html(lang="ua")
    head
        meta(charset="UTF-8")
        title Генератор зображення телевізійної програми для каналу 1+1
        link(rel="icon" type="image/png" href="yolo.ico" sizes="32x32")
        link(rel="stylesheet" type="text/css" href='/style.css')
    body
        form(id="paramsFrom" method='GET' action='/image-generator')
            .container
                .logo
                    a(href="http://1plus1.ua/")
                        img(src="/logos.png")
                    .head-title#head-title Телевізійна програма
                    label.switch
                        input(id="lang" type="checkbox")
                        .slider
            .out-of
                label(for="date") Дата
                    input(id="date" type="date" name="date" required)

                button(id="submit" type="submit" title="Оберіть параметри для генерації зображення") Згенерувати
                a(href="https://vk.com/yolo.crew" rel="nofollow" target="_blank" data-group-url="https://vk.com/yolo.crew")#link-to-group
                a(data-status="succesfully uploaded!" data-color="darkgreen")#post-to-vk wallpost
        #result.hidden
            h2(id="loading" style={display: "none"}) Генерація...
            a#imglink(rel="nofollow" target="_blank" download)
                img(id="image" src="")

        script.
            const getElById = id => document.getElementById(id);

            getElById('lang').onclick = () => {
                if (this.checked) {
                    document.title = "Генератор изображения телевизионной программы для канала 1+1";
                    getElById("head-title").textContent = "Телевизионная программа";
                    getElById("submit").textContent = "Сгенерировать";
                    getElById("submit").setAttribute("title", "Выберите параметры для генерации изображения")
                    getElById("loading").textContent = "Генерация...";
                } else {
                    document.title = "Генератор зображення телевізійної програми для каналу 1+1";
                    getElById("head-title").textContent = "Телевізійна програма";
                    getElById("submit").textContent = "Згенерувати";
                    getElById("submit").setAttribute("title", "Оберіть параметри для генерації зображення")
                    getElById("loading").textContent = "Генерація...";
                }
            }

            Date.prototype.toDateInputValue = (function() {
                let local = new Date(this);
                local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                return local.toJSON().slice(0, 10);
            });

            getElById("date").value = new Date().toDateInputValue();
            document.onload = sendRequest();

            let form = getElById("paramsFrom");
            form.onsubmit = e => {
                e.preventDefault();
                sendRequest();
            }

            getElById("post-to-vk").onclick = event => {
                fetch('/post-to-vk')
                    .then(response => response.json())
                    .then(res => {
                        if(res.success) {
                            event.target.setAttribute("data-status", "succesfully uploaded!");
                            event.target.setAttribute("data-color", "darkgreen");
                            
                        } else {
                            event.target.setAttribute("data-status", "Error");
                            event.target.setAttribute("data-color", "red");
                        }

                        event.target.className += 'uploaded';
                        setTimeout(() => {
                            event.target.className = '';
                        }, 1500);
                    })
                    .catch( e => console.error(e));
                
            }

            function sendRequest() {
                let date = getElById("date").value;
                let lang = getElById("lang").checked ? "ru" : "ua";

                getElById("imglink").setAttribute("download", "1+1 TV-schedule " + date + ".png")
                getElById("result").className = getElById("result").className.replace("hidden","");
                getElById("loading").style.display = "block";
                getElById("image").style.display = "none";

                fetch(`/image-generator/${lang}/${date}`)
                    .then(response => {
                        if (response.status >= 400 && response.status < 600)
                            throw new Error("Something went wrong :(");
                        
                        return response.blob();
                    })
                    .then(imageBlob => {
                        getElById("loading").style.display = "none";
                        getElById("image").style.display = "block";
                        getElById("image").src = URL.createObjectURL(imageBlob,"lol.png")
                        getElById("imglink").href = URL.createObjectURL(imageBlob)
                    })
                    .catch( e => console.error(e));
            }